--extra-index-url https://download.pytorch.org/whl/cpu

flask==2.3.3
flask-cors==6.0.2
twilio==9.10.5
werkzeug==2.3.8
flasgger==0.9.7.1
google-generativeai==0.8.6
python-dotenv==1.2.2
opencv-python==4.13.0.92
numpy==2.4.4
pillow==12.1.1
matplotlib==3.10.9
torch==2.11.0+cpu
torchvision==0.26.0+cpu
captum==0.9.0
supabase==2.29.0
